<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Listado Completo de Productos</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="ion-padding">


    <ion-grid>
  <ion-row>
    <ion-col size="6">
      <ion-button expand="block" color="primary" (click)="opcion1()">
        Página 1
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="block" color="secondary" (click)="opcion2()">
        Página 2
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-button expand="block" color="tertiary" (click)="opcion3()">
        Página 3
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="block" color="success" (click)="opcion4()">
        Página 4
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>


  <hr />

  <ion-list>
    <ion-item *ngFor="let p of listas">
      <ion-label>
        <h2>{{ p.producto }}</h2>

        <p><strong>ID Producto:</strong> {{ p.id_producto }}</p>
        <p><strong>ID Fabricante:</strong> {{ p.id_fabricante }}</p>
        <p><strong>Fabricante:</strong> {{ p.fabricante }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
