<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Fabricantes y Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">


    <ion-grid>
  <ion-row>
    <ion-col size="6">
      <ion-button expand="block" color="primary" (click)="opcion1()">
        Página 1
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="block" color="secondary" (click)="opcion2()">
        Página 2
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-button expand="block" color="tertiary" (click)="opcion3()">
        Página 3
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="block" color="success" (click)="opcion4()">
        Página 4
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>


  <hr />


  <ion-accordion-group>
    <ion-accordion *ngFor="let fab of fabricantes">

      <ion-item slot="header">
        <ion-label>{{ fab.fabricante }}</ion-label>
      </ion-item>

      <div slot="content">

        <ion-list *ngIf="fab.productos.length > 0; else sinProductos">
          <ion-item *ngFor="let prod of fab.productos">
            <ion-label>{{ prod }}</ion-label>
          </ion-item>
        </ion-list>

        <ng-template #sinProductos>
          <ion-item>
            <ion-label color="medium">Sin productos</ion-label>
          </ion-item>
        </ng-template>

      </div>

    </ion-accordion>
  </ion-accordion-group>
</ion-content>
